.not-found {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-img {
  width: 100%;
  max-width: 350px;
}
.not-found-title {
  font-size: 20px;
}
@media all and (min-width: 768px) {
  .not-found-title {
    font-size: 35px;
  }
}
.not-found-msg {
  font-size: 14px;
}
