.jobs {
  background-color: #000000;
  min-height: 100vh;
}
.jobs-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar-mobile {
  display: flex;
  align-items: center;
  border: 1px solid #b6c5ff;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}
.search {
  background-color: transparent;
  height: 30px;
  padding: 0px 12px;
  color: #64748b;
  width: 100%;
}
.search-bar-large {
  display: none;
}
.profile-controls {
  width: 100%;
  max-width: 400px;
}
.job-list-container {
  max-width: 400px;
}
@media all and (min-width: 768px) {
  .search-bar-mobile {
    display: none;
  }
  .search-bar-large {
    display: flex;
    align-items: center;
    border: 1px solid #b6c5ff;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 400px;
  }
  .jobs-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .job-list-container {
    width: 65%;
    max-width: none;
  }
  .profile-controls {
    width: 35%;
    flex-shrink: 0px;
    padding: 0px 20px;
  }
}

.search {
  margin: 0px;
  border: none;
}
.search-btn {
  width: 50px;
  height: 30px;
  background-color: #272727;
  border: none;
}
.search-icon {
  color: '#f8fafc';
}
.profile-failed {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.retry-btn {
  background-color: #6366f1;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 400;
}
